.game {
    height: 50em;
    width: 150em;
    margin: auto;
    text-align: center;
}

p {
    font-family: 'quicksandregular';
    font-size: 1.5em;
} 

.choice{
    border: 6px solid black;
    margin: 4em;
    border-radius: 1em;
    max-height: 50%;
}

.choice:active {
    transform: scale(1.2);
}

.choice:hover {
    box-shadow: 10px 10px 5px grey;
}

ul {
    list-style: none;
    display: block;
}

li {
    display: inline-block;
}

h1 {
    font-family: 'quicksandbold';
    font-size: 6em;
    text-transform: uppercase;
}

p#matchResult {
    font-family: 'quicksandbold';
    font-size: 6em;
    color: red;
    text-shadow: 5px 5px 2px #b00606;
}

.button.play {
    font-family: 'quicksandbold';
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: 0.2em solid black;
    border-radius:0.5em;
    margin-bottom: 2em;
}

.button.play:hover {
    color: black;
    background-color: white;
}

.button.play:active {
    transform: scale(1.2);
}